:root {
    --primary-color: #57c1ab;
    --secondary-color: #232e61;
    --text-primary-color: #333;
    --text-secondary-color: #666;
    --banner-color: #eafaf4;
    --primary-hover-color: #019a7a;
}